<div class="container">
    <h1>Case</h1>
    <hr>
    <h2>Welcome Detective {{detective}}, you have only one shot at this, here is what we have for you today</h2>
    <hr>
    <div class="well">
        <h3>Victim :</h3>
        <ul class="list-group">
            <li class="list-group-item"><strong>Name</strong> : {{name}} ({{sex}})</li>
            <li class="list-group-item"><strong>Job</strong> : {{job}}</li>
            <li class="list-group-item"><strong>Autopsy</strong> : {{autopsy}}</li>
        </ul>
    </div>
    <form class="form-group" method="post">
        <h1><u>Her is your suspect list</u> :</h1>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title"><strong>Calvin 'Chief Rocka' Anderson</strong></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">A well known serial rapist, his father owns the cops, always gets away with anything. Lost his right arm during a shoot out on his last arrest. Owns numerous amounts of fire power and all kinds of knifes, from AK-47s to 9mms.</li>
                        <div class="text-center">
                            <br>
                            <button name="button" value="S1" class="btn btn-primary">arrest</button>
                        </div>
                        <br>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title"><strong>Mickey 'Bucth' Harold</strong></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Owns a local butcher shop, short tempered. Once got arrested for raping and butchering a nine year old girl because her parents refused to pay what they owed. Has no thumb on his left hand</li>
                        <div class="text-center">
                            <br>
                            <button name="button" value="S2" class="btn btn-primary">arrest</button>
                        </div>
                        <br>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title"><strong>Yussef Kuthrapali</strong></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Owns a local taxi business, recently involed in some taxi warefare with rival taxi company, was convicted for stabing one of his drivers in the eye.</li>
                        <div class="text-center">
                            <br>
                            <button name="button" value="S3" class="btn btn-primary">arrest</button>
                        </div>
                        <br>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
